<mat-toolbar color="primary">
    <span>My Messages</span>
    <ul>
        <li *ngIf="isAuthenticated">
            <button mat-button routerLink="/posts/list" routerLinkActive="mat-accent" [routerLinkActiveOptions]="{exact: true}">All Posts</button>
        </li>
        <li *ngIf="isAuthenticated">
            <button mat-button routerLink="/posts/create" routerLinkActive="mat-accent">New Post</button>
        </li>
        <li *ngIf="!isAuthenticated">
            <button mat-button routerLink="/login" routerLinkActive="mat-accent">Login</button>
        </li>
        <li *ngIf="!isAuthenticated">
            <button mat-button routerLink="/signup" routerLinkActive="mat-accent">Signup</button>
        </li>
        <li *ngIf="isAuthenticated">
            <button mat-button routerLink="/login" routerLinkActive="mat-accent" (click)="onLogout()">Logout</button>
        </li>
    </ul>
</mat-toolbar>