<mat-card>
    <form (submit)="onSavePost(form)" #form="ngForm">
        <mat-form-field>
            <mat-label>Title</mat-label>
            <input 
                matInput 
                type="text" 
                name="title"
                required 
                placeholder="Title"
                #nameControl="ngModel"
                [ngModel]="post?.title">
            <mat-error *ngIf="nameControl.invalid">Please enter Post Title</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Content</mat-label>
            <textarea 
                matInput 
                rows="4" 
                name="content" 
                required
                placeholder="Content"
                #contentControl="ngModel"
                [ngModel]="post?.content">
            </textarea>
            <mat-error *ngIf="contentControl.invalid">Please enter content of the Post</mat-error>
        </mat-form-field>
        <button mat-raised-button color="accent" type="submit" [disabled]="form.invalid">{{ edit ? 'Update Post' : 'Create Post' }}</button>
    </form>
</mat-card>
<mat-spinner *ngIf="isLoading"></mat-spinner>