mat-form-field,
textarea {
    width: 100%;
}

mat-spinner {
    margin: 0 auto;
}

input[type='file'] {
    display: none;
}

button[type="submit"] {
    margin-top: 30px;
}

div.img-preview {
    max-width: 150px;
    max-height: 150px;
    margin: 20px 0;
}

img {
    width: 100%;
}